<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>网站后台管理</title>
  </head>
  <frameset rows="61,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="/admin/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
    <frameset rows="*" cols="178,*" framespacing="0" frameborder="no" border="0">
      <frame src="/admin/menu_tree" name='left' scrolling='yes' noresize='noresize' />
      <frame src="/admin/main" name='main' scrolling='yes' noresize='noresize' />
    </frameset>
  </frameset>
  <noframes>
    <body>你的浏览器不支持框架</body>
  </noframes>
</html>