
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css">
      <!--
      body {margin:0px;padding:0px; background:#6591BE;}
      -->
    </style>
  </head>
  
  <body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" >
      <tr>
        <td valign="top" style="width:100%; background:url(../images/admin/topbg.jpg) repeat-x;">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="left" height="61" valign="top"><img src="../images/admin/logo.jpg" ></td>
              <td>&nbsp;</td>
            </tr>
        </table></td>
      </tr>
    </table>
  </body>
</html>
