<div class="blank10"></div>
<div id="bottom">
  <div class="area"><a href="/about">关于我们</a> - <a href="/about">联系我们</a> - <a href="/about">用户反馈</a><br/>Powerby 爱美发网 © 2007粤ICP证070000 </div>
</div>
<div id="footer"></div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4683461-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>