<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <%= stylesheet_link_tag "admin"%>
        <%= javascript_include_tag "jquery","admin/ddaccordion","admin/application" %>
        <script>
            ddaccordion.init({
                    headerclass: "expandable", //Shared CSS class name of headers group that are expandable
                    contentclass: "categoryitems", //Shared CSS class name of contents group
                    revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click" or "mouseover
                    collapseprev: true, //Collapse previous content (so only one open at any time)? true/false
                    defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
                    onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
                    animatedefault: false, //Should contents open by default be animated into view?
                    persiststate: true, //persist state of opened contents within browser session?
                    toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
                    togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
                    animatespeed: "normal", //speed of animation: "fast", "normal", or "slow"
                    oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
                            //do nothing
                    },
                    onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
                           //do nothing
                    }
            })
        </script>
    </head>
    <body>
        <div class="arrowlistmenu">
            <h3 class="menuheader expandable">基本信息管理</h3>
            <ul class="categoryitems">
                <li><a href="/admin/meta_contents" target="main">码表管理</a></li>
                <li><a href="/admin/areas" target="main">区域管理</a></li>
                <li><a href="/admin/news" target="main">新闻管理</a></li>
                <li><a href="/admin/hairstyles" target="main">发型信息</a></li>
                <li><a href="/admin/users" target="main">用户管理</a></li>
                <li><a href="/admin/salons" target="main">美发店管理</a></li>
                <li><a href="/admin/sayings" target="main">有话要说管理</a></li>
            </ul>
        </div>
    </body>
</html>