<div style="float:left;width:340px;">
    <img src="/images/website.gif"/>
</div>
<div style="float:right;margin-left:10px;width:600px;">
    <h3 style="padding-bottom:5px">关于爱美发</h3>
    <div style="line-height:25px">
        为美发店店家提供美发店宣传、信息发布、人才招聘。<br/>
        为美发设计师提供作品展示、工作机会。<br/>
        为消费者提供全面的美发店信息，让你找到合适自己的美发店。当然你可以参与对美发店的评价，把你认为好的美发店推荐给大家。<br/>
        我们衷心希望我们的努力可以为你带来便利，同时我们需要你的支持，如果你有什么好的意见建议请联系我们。<br/>
    </div>
    <h3 style="padding:5px 0">联系方式</h3>
    <div style="line-height:25px">
        邮箱：cliu99@163.com<br/>
        QQ:923933533 100860586<br/>
    </div>
    <h3 style="padding:5px 0">我有话要说</h3>
    <div id="saying_error"></div>
    <% form_remote_for(@saying) do |f| -%>
      <ul class="form">
          <li class="field"><label for="saying_name">我们怎么称呼您：</label><br/>
              <%= f.text_field :name %>
          </li>
          <li class="field"><label for="saying_contact">我们怎么联系您：</label><br/>
              <%= f.text_field :contact %>
          </li>
          <li class="helper">填写你的联系方式，如邮箱、电话、手机、QQ等。</li>
          <li class="field"><label for="saying_content">您要说什么：</label><br/>
              <%= f.text_area :content,:rows => "4",:style => "width:580px" %>
          </li>
          <li class="field"><input type="submit" name="ok" value="说完了"/></li>
      </ul>
    <% end -%>
</div>